body {
    /*background: #ffffff url(/bundles/syliusweb/img/main/pattern-84se.png) repeat;*/
    background: #ffffff url(/bundles/syliusweb/img/main/pattern-759l.png) repeat;
    padding-top: 20px;
    padding-bottom: 40px;
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.alert {
    margin-top: 60px!important;
}
.container > .row.row-background {
    position: fixed;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    width: 90%;
    height: 100%;
    bottom: 0;
    z-index: -10;
}
.container > .row {
    position: relative;
    display: inline-block;
    margin-top: -20px;
    padding-top: 40px;
    width: 100%;
}
.nav-header {
    color: #AF8524!important;
}
a {
    color: #195A6D!important;
}
.shop-menu {
    /*background: #ffffff url(/bundles/syliusweb/img/main/pattern-chgh.png) repeat;*/
    background: #ffffff url(/bundles/syliusweb/img/main/pattern-c3ip.png) repeat;
    /*background-attachment: fixed;*/
    border: 0;
    box-shadow: 0px 0px 20px 0px #000;
}
.shop-menu .navbar-nav > li > a {
    color: #ffffff!important;
    margin-top: 10px;
    padding: 10px 7px!important;
}
.shop-menu .currency-switcher .navbar-nav li.current a {
    font-weight: 800!important;
    text-decoration: underline;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.shop-menu .currency-switcher {
    position: relative;
    display: inline-block;
    width: auto;
    float: left;
    padding: 0 15px;
}
.shop-menu .currency-switcher a:hover {
    color: #D7B157!important;
}
.shop-menu .navbar-nav > .open > a,
.shop-menu .navbar-nav > .open > a:hover {
    background-color: transparent!important;
}
.side-menu a.expandable.expanded .icon-angle-right::before {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.shop-info.white {
    background: #ffffff url(/bundles/syliusweb/img/main/pattern-759l.png) repeat!important;
    box-shadow: 0 0 9px #000!important;
    color: rgb(25, 90, 109)!important;
}
ul.shop-info {
    position: relative;
    display: inline-block;
    list-style: none;
    background: #ffffff url(/bundles/syliusweb/img/main/pattern-c3ip.png) repeat;
    width: 840px;
    margin: 0 auto;
    padding: 0;
    color: rgb(255, 255, 255)!important;
    /*right: 130px;*/
}
ul.shop-info > li {
    display: inline-block;
    width: 270px;
    padding: 6px 0;
    float: left;
}
/*ul.shop-info > li.promo {
    width: 210px;
}
ul.shop-info li.address {
    width: 300px;
}
ul.shop-info li.phones-section {
    width: 250px;
}*/
ul.shop-info li > span.icon {
    float: left;
    height: 40px;
}
.shop-info p.address {
    margin-bottom: 5px;
}
.shop-info .address .address-text {
    margin-left: 10px;
}
.shop-info ul.phones {
    /*display: inline-block;*/
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    margin-bottom: 5px;
}
.shop-info ul.phones li {
    /*display: inline-block;*/
    margin-left: 10px;
}
.shop-info ul.phones li .number {
    font-weight: 800;
}
/*.shop-info::after {
    content: '';

    position: absolute;
    display: block;
    background: #ffffff url(/bundles/syliusweb/img/main/pattern-759l.png) repeat;
    box-shadow: 0 0 14px #000;
    width: 100px;
    height: 100px;
    top: -20px;
    right: -46px;
    float: right;
    z-index: 0;
    transform: skew(-10deg);
    -webkit-transform: rotate(-45deg) skew(-0deg);
    -moz-transform: rotate(-45deg) skew(-45deg);
    -o-transform: rotate(-45deg) skew(-45deg);
}*/
.shop-info h1.promo-text {
    font-size: 16px;
    padding-top: 10px;
    margin: 0px;
}

a.logo {
}

a.logo img {
    width: 40px;
}

a.logo span {
    color: #fff;
    font-size: 33px;
    margin-left: 5px;
}

a.logo a:hover {
    color: #333333;
    text-decoration: none;
}

.jumbotron {
    background-color: transparent;
    margin: 20px 0;
    text-align: center;
    padding: 0!important;
}
.jumbotron .shop-promo {
    background: #f1f1f1;
    position: relative;
    cursor: pointer;
    width: 825px;
    height: 366px;
    /*overflow: hidden;*/
}
.fotorama {
    overflow: visible!important;
}
.fotorama__stage {
    /*border: 1px solid #4D9FB6;*/
}

.jumbotron .shop-promo:after {
    content: "";

    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-name: fadeOutFrom;
    -webkit-animation-name: fadeOutFrom;
    -moz-animation-name: fadeOutFrom;
    -o-animation-name: fadeOutFrom;
    -ms-animation-name: fadeOutFrom;
}
.jumbotron:hover .shop-promo:after {
    background-color: rgba(0, 0, 0, 0.5);

    animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
    animation-name: fadeInFromNone;
    -webkit-animation-name: fadeInFromNone;
    -moz-animation-name: fadeInFromNone;
    -o-animation-name: fadeInFromNone;
    -ms-animation-name: fadeInFromNone;
}

@keyframes fadeInFromNone {
    0% { background-color: rgba(0, 0, 0, 0); }
    1% { background-color: rgba(0, 0, 0, 0.1); }
    100% { background-color: rgba(0, 0, 0, 0.5); }
}
@keyframes fadeOutFrom {
    0% { background-color: rgba(0, 0, 0, 0.5); }
    1% { background-color: rgba(0, 0, 0, 0.4); }
    100% { background-color: rgba(0, 0, 0, 0); }
}
@-webkit-keyframes fadeInFromNone {
    0% { background-color: rgba(0, 0, 0, 0); }
    1% { background-color: rgba(0, 0, 0, 0.1); }
    100% { background-color: rgba(0, 0, 0, 0.5); }
}
@-webkit-keyframes fadeOutFrom {
    0% { background-color: rgba(0, 0, 0, 0.5); }
    1% { background-color: rgba(0, 0, 0, 0.4); }
    100% { background-color: rgba(0, 0, 0, 0); }
}
@-moz-keyframes fadeInFromNone {
    0% { background-color: rgba(0, 0, 0, 0); }
    1% { background-color: rgba(0, 0, 0, 0.1); }
    100% { background-color: rgba(0, 0, 0, 0.5); }
}
@-moz-keyframes fadeOutFrom {
    0% { background-color: rgba(0, 0, 0, 0.5); }
    1% { background-color: rgba(0, 0, 0, 0.4); }
    100% { background-color: rgba(0, 0, 0, 0); }
}
@-o-keyframes fadeInFromNone {
    0% { background-color: rgba(0, 0, 0, 0); }
    1% { background-color: rgba(0, 0, 0, 0.1); }
    100% { background-color: rgba(0, 0, 0, 0.5); }
}
@-o-keyframes fadeOutFrom {
    0% { background-color: rgba(0, 0, 0, 0.5); }
    1% { background-color: rgba(0, 0, 0, 0.4); }
    100% { background-color: rgba(0, 0, 0, 0); }
}
.jumbotron .shop-promo .period-badge {
    position: absolute;
    color: #FFF;
    line-height: 30px;
    padding: 0 7px;
    box-shadow: 0px 1px 7px -3px #0C194D;
    background-color: #D7B157;
    border-bottom-left-radius: 32px;
    border-top-left-radius: 32px;
    top: 22px;
    right: 0px;
    z-index: 100;
}

.jumbotron .shop-promo .shop-promo-text {
    display: inline-block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 20px;
    text-shadow: 0px 0px 1px #f1f1f1;
    color: #fff;
    z-index: 20;
}
.jumbotron .shop-promo .shop-promo-text h1,
.jumbotron .shop-promo .shop-promo-text h2 {
    color: #A5CBD6!important;
}

.fotorama__active .fotorama__dot {
    /*background: #9FA518!important;*/
    background: #A5CBD6!important;
}
.fotorama__dot {
    /*background: #D1D82C!important;*/
    background: #69A5B6!important;
    width: 12px!important;
    height: 12px!important;
    border-radius: 50%!important;
    border: 1px solid #69A5B6!important;
    /*border-color: */
}
.fotorama__arr {
    /*background: #D1D82C!important;*/
    background: #69A5B6!important;
    box-shadow: 0px 0px 38px -10px #000;
    text-align: center;
    font-size: 16px;
    line-height: 60px;
    width: 60px!important;
    height: 60px!important;
    border-radius: 50%;
}
.fotorama__arr:hover {
    background: #A5CBD6!important;
}
.fotorama__arr:before {
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
}
.fotorama__arr.fotorama__arr--next {
    margin-right: -27px!important;
    text-indent: -18px;
}
.fotorama__arr.fotorama__arr--next:before {
    content: "\e080";
}
.fotorama__arr.fotorama__arr--prev {
    margin-left: -27px!important;
    text-indent: 18px;
}
.fotorama__arr.fotorama__arr--prev:before {
    content: "\e079";
}

.jumbotron .shop-promo h1,
.jumbotron .shop-promo h2,
 {
    margin: 0 20px;
}

.jumbotron h1 {
    font-size: 72px;
    line-height: 1;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.marketing {
    margin: 60px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

th {
    background-color: #f1f1f1;
}

#sidebar ul {
    margin-left: 0;
    list-style: none;
    padding: 0;
    overflow: hidden;
}

#sidebar ul span.nav-header {
    padding-left: 10px;
    font-weight: bold;
}

#sidebar ul.nav-list {
    margin-top: 10px;
}

#sidebar ul li a:hover {
    text-decoration: none;
}

#sidebar ul li img {
    float: left;
    margin-right: 10px;
}

#sidebar ul li h4 {
    font-size: 15px;
    text-align: left;
}

div.product-box {
    position: relative;
    margin-bottom: 30px;
}

div.product-box .shop-product-new-badge {
    position: absolute;
    background-color: #E4371B;
    /*background-color: #D1D82C;*/
    box-shadow: 0px 0px 30px -10px #000;
    text-align: center;
    font-size: 16px;
    line-height: 45px;
    font-weight: 800;
    width: 45px;
    height: 45px;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    color: #FFF;
    top: -8px;
    left: -16px;
    z-index: 13;
}
div.product-box .shop-product-new-badge:before {
    content: "";

    position: absolute;
    background: #E4371B;
    /*background: #D1D82C;*/
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    top: 0;
    left: 0;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    width: 45px;
    height: 45px;
    z-index: -2;
}
div.product-box .shop-product-new-badge:after {
    content: "";

    position: absolute;
    background: #E4371B;
    /*background: #D1D82C;*/
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    -ms-border-radius: 0.5em;
    -o-border-radius: 0.5em;
    top: 0;
    left: 0;
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    width: 45px;
    height: 45px;
    z-index: -2;
}

div.product-box.single-product {
    padding: 0;
    width: 100%;
}
div.product-box.single-product .thumbnail {
    /*min-height: 235px;*/
}
div.product-box.single-product .thumbnail > .caption {
    position: absolute;
}
div.product-box.single-product .shop-product-price {
    top: 20px!important;
    bottom: auto;
}
div.product-box .thumbnail img  {
    border: 1px solid #4D9FB6;
    width: 245px;
    height: 236px;
}
div.product-box.single-product .thumbnail img  {
    width: 202px;
    height: 202px;
}
div.product-box .thumbnail > a {
    display: inline-block;
    position: relative;
}
div.product-box .thumbnail > .caption {
    position: relative;
    display: inline-block;
}
div.product-box .thumbnail > .caption h3,
div.product-box .thumbnail > .caption h4 {
    margin: 0;
    padding: 0;
}
div.product-box .shop-product-price {
    position: absolute;
    padding: 7px 5px 7px 10px;
    bottom: 10px;
    box-shadow: -1px 2px 8px -2px #0c194d;
    right: -13px;
    background-color: #195A6D;
    border-radius: 0;
    border-bottom-left-radius: 13px;
    border-top-left-radius: 13px;
}
div.product-box .shop-product-price::after {
    content: '';

    position: absolute;
    display: block;
    /*background-color: #af8524;*/
    background-color: #AF3724;
    width: 20px;
    height: 16px;
    top: 12px;
    right: -3px;
    float: right;
    z-index: -1;
    transform: skew(-10deg);
    -webkit-transform: rotate(-45deg) skew(-45deg);
    -moz-transform: rotate(-45deg) skew(-45deg);
    -o-transform: rotate(-45deg) skew(-45deg);
}

div.product-box a {
    text-decoration: none;
}

div.product-box a img {
    /*margin-bottom: 5px;*/
}

div.product-box h3 {
   color: #333;
}

div.footer p {
    float: right;
    margin-top: 8px;
}

div.footer ul li a {
    color: #999;
}
#sidebar .menu_level_2 {
    margin-left: 20px!important;
}
#sidebar .menu_level_3 {
    margin-left: 40px!important;
}
#sidebar .nav li a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

#sidebar ul li img.menu-thumbnail {
    float: none;
    margin-right: 0;
}
#sidebar .nav li.current > a {
    background-color: #D7BB79;
}
#sidebar .hidden-item {
    display: none;
}

#sidebar .nav li a:hover,
#sidebar .nav li a:focus {
    background-color: #D7BB79;
}

.form-actions {
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
    border-top: 3px solid #ddd;
}

div.currency-menu {
    margin-right: 50px;
}

.checkout-new-customer form, .checkout-existing-customer form {
    margin-top: 20px;
}

.checkout-new-customer .form-group {
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
}

.checkout-new-customer .form-group > .control-label, .address-container .form-group > .control-label {
    padding-left: 0;
    padding-right: 0;
    width: 25%;
}

.checkout-new-customer .form-group > .col-lg-10, .address-container .form-group > .col-lg-10 {
    width: 75%;
}

a.oauth-login {
    margin-right: 8px;
}

a.oauth-login:hover {
    text-decoration: none;
}
